@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

.img-fluid {
  max-width: 100%;
  max-height: auto;
}

.container-1 {
  width: 100%;
  height: auto;
}

.container-1 .jumbotron {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  color: rgb(0, 0, 0);
  background-color: white;
  background: url("images/bg.jpg") no-repeat;
  background-position: left 80%, right top 40%;
  background-size: cover;
}

.header-text {
  flex-basis: 34em;
  text-shadow: 3px 2px #000;
}

.header-text h1 {
  color: white;
  text-shadow: 2px 2px #000;
  font-weight: 900;
  font-size: 3em;
}

.header-text h5 {
  color: yellow;
  text-shadow: 1px 2px #000;
  font-weight: 800;
  font-size: 1.4em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 3%;
  flex-basis: 18em;
}

.card .btn {
  text-align: center;
  border-radius: 0;
}

p.secure-text {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"],
.txtarea {
  margin-bottom: 20px;
}

select,
.txtarea {
  margin-bottom: 20px;
}

.container-2 .row {
  display: flex;
  flex-direction: row;
  margin-right: 5em;
  margin-left: 10em;
}

.container-2 h3 {
  color: rgb(245, 37, 37);
  overflow-wrap: normal;
  margin-right: 7em;
  margin-bottom: 0.75em;
}

li {
  list-style: none;
}
li:before {
  content: "✔️";
  margin-right: 1.2em;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: rgb(95, 114, 66);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2em;
  background-color: #5cb85c;
}

.modal-body {
  padding: 2em;
}

.modal-footer {
  padding: 2em;
  background-color: #5cb85c;
}

#callAgent {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 840px) {
  .container-1 .jumbotron {
    flex-direction: column;
  }

  .header-text {
    flex-basis: 15em;
  }

  .header-text h5 {
    display: block;
    width: 375px;
    height: auto;
  }

  .container-2 .row {
    display: inline-flex;
    flex-direction: column;
  }

  .container-2 h3 {
    white-space: nowrap;
    margin-left: -6em;
    font-size: 1.6em;
  }

  #callAgent {
    display: block;
  }
}
